repos:
  - repo: https://github.com/thetestlabs/psscriptanalyzer-pre-commit
    rev: v1.0.0  # Use the ref you want to point at
    hooks:
      # Check for issues (warnings and errors)
      - id: psscriptanalyzer
        args: ['--severity', 'Warning']
      
      # Format files
      - id: psscriptanalyzer-format
